* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* Header */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo-container {
    /* margin-right: auto; */
    flex: 1;

}

.logo {
    width: 60px;

}

.button-header-container {
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 50px;
    column-gap: 20px;
}

.button-header-container img {
    width: 30px;
    cursor: pointer;
}






/* Side Box */

.side-box {
    background-color: rgb(231, 231, 231);
    position: fixed;
    max-width: 450px;
    min-height: 100vh;
    top: 0;
    padding-top: 30px;
    box-shadow: 0 0 5px black inset;
}


.search {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.search input {
    flex: 1;
    height: 40px;
    padding-left: 5px;
    background-color: rgb(210, 210, 210);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;

}

.search input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.search input::placeholder {
    font-size: 20px;
    align-self: center;
    font-weight: 600;
}

.search img {
    background-color: rgb(210, 210, 210);
    width: 30px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 0.5em;
}


.tasks-status {
    display: grid;
    grid-template-columns: 200px 200px;
    align-items: center;
    padding: 20px 10px;
    font-size: 20px;
    row-gap: 10px;
    column-gap: 15px;
}

.show-important,
.show-all,
.show-today,
.show-completed,
.show-active {

    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    min-height: 78px;
    position: relative;
    background-color: rgb(210, 210, 210);
    transition: 0.15s;
}

.show-important:hover,
.show-all:hover,
.show-today:hover,
.show-completed:hover,
.show-active:hover {
    background-color: rgb(181, 181, 181);
    transform: scale(1.05);
    transition: 0.15s;
}

.show-important img,
.show-today img,
.show-completed img,
.show-active img,
.show-all img {
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: red;
    box-shadow: 0 0 3px black;
    border-radius: 100px;
    padding: 5px;
}

.important-text,
.today-text,
.all-text,
.active-text,
.completed-text {
    position: absolute;
    top: 60px;
    left: 20px;
    font-weight: 600;
    color: rgb(73, 73, 73);
}

.important-num,
.today-num,
.all-num,
.active-num {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(73, 73, 73);
}

.show-important img {
    background-color: red;
}

.show-today img {
    background-color: blue;
}

.show-completed img {
    background-color: gray;
}

.show-active img {
    background-color: green;
}

.show-all img {
    background-color: purple;
}


.progress-text-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.progress-bar-container {
    width: 90%;
    height: 15px;
    background-color: rgb(210, 210, 210);
    /* same color as search */
    border-radius: 10px;
    overflow: hidden;
    /* keeps bar inside rounded corners */
    margin-top: 5px;
    /* space from search box */
    justify-self: center;
}

.progress-bar {
    height: 100%;
    background-color: #574caf;
    /* green bar */
    width: 50%;
    /* start empty, update with inline style or JS */
    transition: width 0.3s ease;
    /* smooth animation */
}

.list-header-container {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(107, 107, 107);
}

.add-list {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.add-list::before {
    content: url(./icons/add-list.svg);
    margin-right: 5px;
    margin-top: 6px;
}

.add-list:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.list-head {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
    color: rgb(107, 107, 107);
}

.list-container {
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow: auto;
}

.lists {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: 0.15s linear;
}

.lists:hover {
    transform: scale(1.05);
    box-shadow: 0 0 3px black;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;

}

.lists img {
    width: 30px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;
}

.list-name {
    font-size: 25px;
    font-weight: 600;
    margin-right: auto;
}

.list-quantity {
    font-size: 30px;
    font-weight: 700;
}

.tag-container {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow: auto;
}

.tags-head {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgb(107, 107, 107);
}

.tag {
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.tag p {
    /* border: 1px solid black; */
    box-shadow: 0 0 3px black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.15s;

}

.tag p:hover {
    transform: scale(1.05);
    cursor: pointer;
}



/*          main page            */


main {
    padding-left: 450px;
    padding-top: 70px;
}


.main-header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 40px;
    color: rgb(0, 110, 255);
    font-weight: 600;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.complete-clear {
    display: flex;
    margin-left: 20px;
    column-gap: 5px;
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.202);
    padding-bottom: 10px;
    color: #555;
    font-weight: 500;
}

.clear-completed {
    color: rgb(0, 98, 255);
    cursor: pointer;
}


.task-container {
    display: flex;
    flex-direction: column;
}

.tasks {
    display: flex;
    margin-left: 20px;
    align-items: center;
    font-size: 18px;
    margin-top: 15px;
}

.is-completed {
    margin-right: 20px;
    appearance: none;
    /* Remove default OS checkbox */
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #555;
    border-radius: 50%;
    /* Makes it a circle */
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.15s;
    align-self: flex-start;
    margin-top: 10px;
}

.is-completed:checked {
    background-color: #654caf;
    /* Fill color */
}

.is-completed:checked::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

.task-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-bottom: 10px;
    font-weight: 500;
}

.task-tags {
    color: rgb(57, 123, 255);
}

.task-name {
    font-weight: 700;
}

.task-note {
    color: #555;
}

.tag-date {
    display: flex;
    column-gap: 20px;
}



/*      pop-up for add task          */


.add-task-popup {
    position: fixed;
    z-index: 1000;
    background-color: rgb(229, 229, 229);
    width: 550px;
    height: 750px;
    max-height: 750px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: 0.3s ease-in;
    pointer-events: none;
    opacity: 0;
}

.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.463);
    backdrop-filter: blur(10px) saturate(180%);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: 0.3s ease-in;
    pointer-events: none;
    opacity: 0;
}

.popup-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.circle-popup img {
    position: absolute;
    width: 40px;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.task-name-holder,
.task-date-holder,
.task-note-holder,
.task-tag-holder,
.task-list-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.task-name-holder p,
.task-date-holder p,
.task-note-holder p,
.task-tag-holder p {
    font-size: 20px;
    font-weight: 600;
    color: #555;
}

.task-name-holder input,
.task-date-holder input,
.task-note-holder input,
.task-tag-holder input {
    width: 80%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    background-color: #cbcbcb;
}

.task-tag-holder::after {
    content: "#";
    position: absolute;
    top: 12px;
    right: 55px;
    font-size: 20px;
    font-weight: 700;
}

.task-note-holder::after {
    content: url(./icons/note.svg);
    position: absolute;
    top: 12px;
    right: 50px;

}



.popup-content input::placeholder {
    font-size: large;
}

.task-list-holder {
    position: relative;
}

.task-list-holder select {
    width: 87%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    appearance: none;
    background-color: #cbcbcb;
}

.task-list-holder select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}

.task-list-holder::after {
    content: url(./icons/arrow-down.svg);
    position: absolute;
    z-index: 10000;
    top: 12px;
    right: 50px;
}



.circle-popup {
    background-color: rgb(14, 69, 210);
    padding-bottom: 60px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.circle-popup input {
    margin-top: 70px;
    width: 80%;
    background-color: rgb(14, 69, 210);
    font-size: 30px;
    color: rgb(225, 225, 225);
}

.circle-popup input::placeholder {
    font-size: 30px;
    color: rgb(226, 226, 226);
}


.popup-content input:focus {
    outline: none;
    border: none;
}

.important-check {
    width: 87.5%;
    display: flex;
    border-radius: 10px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    background-color: #cbcbcb;
    justify-self: center;
}

.important-check label {
    font-size: 17px;
    font-weight: 600;
    margin-right: 40px;

}

.important-check input {

    appearance: none;
    margin-bottom: 10px;
    /* Remove default OS checkbox */
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #555;
    border-radius: 50%;
    /* Makes it a circle */
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.15s;
    align-self: flex-start;
    margin-top: 10px;
}

.important-check input:checked {
    background-color: #654caf;
    /* Fill color */
}

.important-check input:checked::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

.add-task-button {
    width: 300px;
    padding: 20px 10px;
    font-size: 19px;
    border-radius: 50px;
    background-color: rgb(14, 69, 210);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 100px;
    margin-bottom: 20px;
    border: none;
    transition: 0.15s;
}

.add-task-button:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}